@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Roboto+Mono:wght@500&display=swap');

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0.75rem 1rem;
}

header span {
  font-size: 1.5rem;
  font-family: 'Roboto Mono', sans-serif;
}

header .user {
  display: flex;
  align-items: center;
  gap: 10px;
}

header img {
  width: 25px;
  height: 25px;
}

nav {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
  font-weight: 600;
  gap: 1.5rem;
  min-width: 12.5rem;
}

nav a {
  text-decoration: none;
  padding-left: 1rem;
  padding: 0.25rem 0 0.25rem 1rem;
  box-sizing: border-box;
}

nav a:hover {
  border-left: 3px solid #000;
  padding-left: calc(1rem - 3px);
}

.wrapper {
  display: flex;
  padding: 2rem;
  gap: 3.25rem;
}

main {
  flex-grow: 1;
}

.content-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 1rem;
  border-bottom: 1px solid black;
  margin-bottom: 2rem;
}

.content-header h1 {
  font-size: 2.5rem;
  margin: 0;
}

.content-header .actions {
  display: flex;
  align-items: center;
  /* gap: 1em; */
  text-decoration: none;
}

.actions img {
  width: 20px;
  height: 20px;
  /* background-color: lightblue; */
  border: 1px solid black;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 0.5rem;
  margin-bottom: -5px;
}

.actions .selected img {
  border-bottom: 1px solid white;
}

.last-modified {
  margin-top: 3rem;
  font-size: 0.75rem;
  font-style: italic;
  color: #777;
}

.edit-textarea {
  font-size: 1.25rem;
  width: 100%;
  height: 500px;
  resize: vertical;
  border-radius: 8px;
}

.save-btn {
  font-size: 1.1rem;
  font-weight: 600;
  height: 40px;
  padding: 0.5rem 0.75rem;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  float: right;
  width: 180px;
  text-align: center;
}

a {
  color: inherit;
}
