<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title>Error</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Roboto+Mono:wght@500&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <span>PtiWiki</span>
      <div class="user">
        <?php if (isset($_SESSION['idUser'])) { ?>
        <span><?php echo $_SESSION['idUser'] ?></span>
        <a href="?op=logout">Déconnexion</a>
        <img src="assets/logout.svg" alt="logout" />
        <?php } else { ?>
        <a href="?op=login">Connexion</a>
        <a href="?op=signup">Inscription</a>
        <img src="assets/login.svg" alt="login" />
        <?php } ?>
      </div>
    </header>

    <div class="wrapper">
      <nav>
        <a href="?op=read&amp;file=PageAccueil">Accueil</a>
        <a href="?op=read&amp;file=random">Page aléatoire</a>
        <a href="?op=read&amp;file=all">Toutes les pages</a>
      </nav>

      <main>
        <h1>Erreur</h1>
        <h2>
          Opération non implémentée:
          <?php echo $op ?>
        </h2>
      </main>
    </div>
  </body>
</html>
