<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title><?php echo $title ?></title>
  </head>
  <body>
    <header>
      <span class="logo">PtiWiki</span>
      <div class="user">
        <?php if (!empty($_SESSION['username'])) { ?>
        <span><?php echo $_SESSION['username'] ?></span>
        <a href="?action=logout&amp;<?=basename($_SERVER['REQUEST_URI']) ?>">
          <img src="assets/logout.svg" alt="logout" />
        </a>
        <?php } else { ?>
        <a href="?action=login">Connexion</a>
        <a href="?action=register">Inscription</a>
        <img src="assets/login.svg" alt="login" />
        <?php } ?>
      </div>
    </header>

    <div class="wrapper">
      <nav>
        <a href="?op=read&amp;file=PageAccueil">Accueil</a>
        <a href="?op=read&amp;file=random">Page aléatoire</a>
        <a href="?op=read&amp;file=all">Toutes les pages</a>
      </nav>

      <main>
        <div class="content-header">
          <h1><?php echo $title ?></h1>
          <div class="actions">
            <?php if (!empty($_SESSION['username'])): ?>
            <!-- read -->
            <a
              href="?op=read&amp;file=<?php echo $file ?>"
              class="<?=$op == 'read' ? 'selected' : '' ?>"
            >
              <img src="assets/eye.svg" alt="eye" />
            </a>

            <!-- edit -->
            <a
              href="?op=update&amp;file=<?php echo $file ?>"
              class="<?=$op == 'update' || $op == 'create' ? 'selected' : '' ?>"
            >
              <img src="assets/pencil.svg" alt="pencil" />
            </a>

            <!-- delete -->
            <?php if ($file != 'PageAccueil'): ?>
            <a
              href="?op=delete&amp;file=<?php echo $file ?>"
              class="<?=$op == 'delete' ? 'selected' : '' ?>"
            >
              <img src="assets/trash.svg" alt="trash" />
            </a>
            <?php endif ?>
            <?php endif ?>
          </div>
        </div>

        <div class="content">
          <!-- show page content -->
          <?php if ($op == 'read') { ?>
          <?php include_once '../templates/partials/content.html' ?>

          <!-- show textarea to edit/create page -->
          <?php } elseif ($op == 'update' or $op == 'create') { ?>
          <?php include_once '../templates/partials/edit.html' ?>

          <!-- delete -->
          <?php } elseif ($op == 'delete') { ?>
          <?php include_once '../templates/partials/delete.html' ?>
          <?php } ?>
        </div>
      </main>
    </div>
  </body>
</html>
